/*style*/
body {
    font: 16px/28px arial, sans-serif;
    background-color: #eaeaea;
    background-image: url(img.b/PawPattern.jpg.jpg);
    color: 333;
}
.container {
    width: 800px;
    margin: auto;
    background-color: #fff;
}
.header {
    padding: 20px;
    padding-bottom: 10px;
}
.header .judul {
    font-size: 40px;
    font-weight: bold;
}
.header ul li {
    display: inline-block;
    margin-top: 20px;
    margin-right: 10px;
}
.header a {
    text-decoration: none;
    color: salmon;
    padding: 3px;
}
.header a:hover {
    background-color: salmon;
    color: white;
}
.hero {
    align-items: center;
    height: 400px;
    width: 420px;
    background-image: url(img.b/wlee\ cat.jpg);
    background-size: contain;
    background-position:0  ;
    margin: auto;
    border-top: 5px solid salmon;
    border-bottom: 5px solid salmon;
}
.content {
    padding: 20px;
}
.content h2 {
    font-size: 32px;
    font-weight: bold;
}
.content .penulis {
    font-size: 11px;
    margin-top: -5px;
}
.content .penulis a  {
    color: salmon;
    text-decoration: none;
}
.content p {
    margin-bottom: 28px;
    font-size: 14px;
}
.hero2 {
    height:600px;
    width: 600px;
    background-image: url(img.b/waterfallcat2.jpg);
    background-size: cover;
    background-position:0 -1 ;
    border-top: 5px solid salmon;
    border-bottom: 5px solid salmon;
    margin: auto;
}
.content {
    padding: 20px;
}
.content h2 {
    font-size: 32px;
    font-weight: bold;
}
.content p {
    margin-bottom: 28px;
    font-size: 14px;
}
.hero3 {
    align-items: center;
    height: 500px;
    width: 700px;
    background-image: url(img.b/Mug\ Cat.jpg);
    background-size: cover;
    background-position:0 -180 ;
    border-top: 5px solid salmon;
    border-bottom: 5px solid salmon;
    margin: auto;
}
.content {
    padding: 20px;
}
.content h2 {
    font-size: 32px;
    font-weight: bold;
}
.content p {
    margin-bottom: 28px;
    font-size: 14px;
}
.hero4 {
    height: 500px;
    background-image: url(img.b/Eepy\ ballhead\ cat.jpg);
    background-size: cover;
    background-position:0 -180 ;
    border-top: 5px solid salmon;
    border-bottom: 5px solid salmon;
    margin: auto;
}
.content {
    padding: 20px;
}
.content h2 {
    font-size: 32px;
    font-weight: bold;
}
.content p {
    margin-bottom: 28px;
    font-size: 14px;
}
.hero5 {
    height: 410px;
    width: 600;
    background-image: url(img.b/Eepy\ alien\ cat.jpg);
    background-size: cover;
    background-position:0 -180 ;
    border-top: 5px solid salmon;
    border-bottom: 5px solid salmon;
    margin: auto;
}
.content {
    padding: 20px;
}
.content h2 {
    font-size: 32px;
    font-weight: bold;
}
.content p {
    margin-bottom: 28px;
    font-size: 14px;
}

.footer {
    background-color: #333;
    padding: 10px;
}
.footer.copy {
   color: #eaeaea; 
   text-align: center;
   font-size: 12px;
}